body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
  font-family: "poppins", sans-serif;
  background-color: rgba(24, 50, 47, 255);
}

.content .intro {
  color: white;
  position: absolute;
  margin-top: -600px;
  padding: 120px 0px 50px 100px;
  margin-bottom: 40px;
}
.content {
  position: relative;
}
.background {
  background: black;
  opacity: 0.5;
  top: 67px;
  position: absolute;
  height: 593px;
  width: 100%;
}
.content .image-content {
  background-image: url(02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 590px; */
  height: 660px;
  object-fit: cover;
  position: relative;
  animation: change 30s infinite ease-in-out;
}
@keyframes change {
  0% {
    background-image: url(mix.jpeg);
  }
  10% {
    background-image: url(./01.jpeg);
  }
  20% {
    background-image: url(mix03.jpeg);
  }
  30% {
    background-image: url(mmmmmmeeeee.jpeg);
  }
  40% {
    background-image: url(Francois.jpeg);
  }
  50% {
    background-image: url(MY\ ROLE.jpeg);
  }
  60% {
    background-image: url(gasimba.jpeg);
  }
  70% {
    background-image: url(oooooo.jpeg);
  }
  80% {
    background-image: url(mugisha.jpeg);
  }
  90% {
    background-image: url(mix\ 02.jpeg);
  }
  100% {
    background-image: url(family\ img.jpeg);
  }
}
@keyframes slide_Up {
  0% {
    transform: translateY(120px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.content h1 {
  font-size: 60px;
  margin-bottom: 60px;
  margin-top: -10%;
  font-weight: bold;
  animation: slide_Up 1.4s ease-in-out;
    text-align: center;
    animation: moveHeading 4s linear infinite;
  }
  
  @keyframes moveHeading {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }

.inner {
  overflow: hidden;
  /* height: 2000px; */
}
.content p {
  font-size: 30px;
  position: relative;
  left: 5%;
  transition: left 5s ease; 
  animation: slide_Up 2.1s ease-in-out;
}
.content button {
  animation: slide_Up 2.4s ease-in-out;
}
button {
  padding: 8px 60px;
  border-radius: 20px;
  background:rgb(19, 146, 177);
  color: white;
  font-size: 30px;
}
nav {
    background-color: #363333;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 20px;
}

.menu a:hover {
    background-color: #555;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4CAF50;
    transition: 0.5s;
}

.menu a:hover::before {
    width: 100%;
}

  
  .moving-heading {
    font-size: 40px;
    color: #333;
    text-align: center;
    text-decoration: underline;
    animation: moveHeading 4s linear infinite;
  }
  
  @keyframes moveHeading {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .img-1 img{
    margin-left: 1%;
  }
  
  
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-size: 30px;
}

.animated-paragraph {
    position: relative;
    left: -100%;
    transition: left 5s ease; 
}

.container:hover .animated-paragraph {
    left: 0;
}


.triangle-container{
  margin-left: 20%;
  font-size: 24px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards, moveUp 1s forwards;
  animation-delay: 5s;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes moveUp {
  from {
      transform: translateY(20px);
  }
  to {
      transform: translateY(0);
  }
}


.triangle-text-1{
  background-color: #363333;
  margin-right: 30%;
  height: 100px;
  padding-top: 3%;
  margin-left: 10%;
  border-radius: 30px;

}
.triangle-text-1 p{
  margin-left: 25%;
  font-size: 17px;

}

.triangle-text-2{
  background:#759074;
  margin-right: 20%;
  height: 130px;
  padding-top: 3%;
  margin-left: -5%;
  border-radius: 30px;

}
.triangle-text-2 p{
  margin-left: 20%;
  font-size: 17px;

}

.triangle-text-3{
  background-color: #524350;
  margin-right:10%;
  height: 140px;
  padding-top: 3%;
  margin-left: -15%;
  border-radius: 30px;

}
.triangle-text-3 p{
  margin-left: 15%;
  font-size: 17px;

}

.magic-1{
  margin-left:8%;
  border-radius: 50%;
  background-color: #363333;
  width: 560px;
  height: 260px;
}

.magic-1 p{
  margin-left: 12%;
  padding-top: 1%;
  font-size: 17px;

}
.magic-1 h3{
  margin-left: 35%;
  padding-top: 5%;
 font-style: oblique;
 font-size: 22px;
 text-decoration: underline;
}


.magic-2{
  margin-left:46%;
  margin-top: -20%;
  border-radius: 50%;
  background-color: #9a9bb0;
  width: 560px;
  height: 240px;
}
.magic-2 p{
  margin-left: 20%;
  padding-top: 1%;
  font-size: 17px;

}
.magic-2 h3{
  margin-left: 35%;
  padding-top: 5%;
  font-size: 20px;
  font-style: oblique;
  text-decoration: underline;
}
.magic-3{
  margin-left: 30%;
  background: #b09bad;
  border-radius: 50%;
  width: 560px;
  height: 250px;
  margin-top: -7%;
}
.magic-3 p{
  margin-left:20%;
  padding-top:1%;
  font-size: 17px;

}
.magic-3 h3{
  margin-left: 35%;
  padding-top: 5%;
  font-size: 22px;
  font-style: oblique;
  text-decoration: underline;

}
footer {
  width: 100%;
  height:45% ;
  background-color: #66626a;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
}

.allRights{
  color: rgb(179, 173, 194);
}
.animated-footer{
  display: flex;
  margin-left:1%;
  gap: 80px;
  color: #dbcaca;
  font-size: 16px;
  font-style: oblique;
}
.footer-icons{
  font-size: 30px;
  margin-right: 50%;
  gap: 40px;
}

.container-2{
  text-align: center;
}

.animated-paragraph-2{
  font-size: 17px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 5s forwards, moveUp 5s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes moveUp {
  from {
      transform: translateY(20px);
  }
  to {
      transform: translateY(0);
  }
}


button a{
  font-size: 17px;
  border-radius: 40px;
}
.min button{
  background-color: rgb(58, 134, 172);
  color: black;
  width: 300px;
  height: 40px;
  margin-left: 70%;
  box-shadow: #555;
}
@media screen and (max-width:800px) {
  
}

#search-bar {
  position:absolute ;
  margin-left: 75%;
  margin-top: -13%;
  width: 300px;
  height: 40px;
}
#search-bar input[type="text"] {
  margin: 50px 0 0 100px;
  padding: 40px 500px 40px 40px;
  border: none;
  background-color: #a5a5a5;

}






